body {
	font-family: sans-serif;
	margin: 0;
	display: flex;
	place-items: center;
	color: white;
	min-width: 320px;
	min-height: 100vh;
	background-color: #171b31;
}

main {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.head-text {
	color: #cbdfff;
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 1em;
}

button {
	border-radius: 8px;
	border: 3px solid #1a284d;
	padding: 0.6em 1.3em;
	font-size: 1.2em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a284d;
	cursor: pointer;
	color: #69aaff;
	transition: border-color 0.25s;
}

button:hover, button:focus {
	border-color: #366fb9;
	background-color: #203268;
	color: #cedaff;
}